version: '3.3'
services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: 'zup_bank_db'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'victor'
      # You can use whatever password you like
      MYSQL_PASSWORD: '123581321'
      # Password for root access
      MYSQL_ROOT_PASSWORD: '123581321'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the container
      - '3306'
      # Where our data will be persisted
